
/* RESET */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* LAYOUT GENERAL */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HACE QUE EL CONTENIDO EMPUJE EL FOOTER */
main {
  flex: 1;
}

/* HEADER Y FOOTER NO SE ACHICAN */
#header, #footer {
  width: 100%;
  flex-shrink: 0;
}
