<link rel="stylesheet" href="css/footer.css">

<footer class="footer">

<div class="footer-columns">

<div class="footer-col">
<h3>Contacto</h3>
<p class="footer-text">proyectodebioregeneracion@gmail.com</p>
</div>

<div class="footer-col">
<h3>Ubicación</h3>
<p class="footer-text">La Ligua, Valparaíso, Chile</p>
</div>

<div class="footer-col">
<h3>Redes sociales</h3>
<a href="https://instagram.com/regeneracionnativa" target="_blank">
<img src="imagenes/instagram.svg" class="social-icon" alt="Instagram">
</a>
</div>

</div>

<p class="footer-copy">© 2026 Fundación Regeneración Nativa</p>

</footer>