<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Regeneración Nativa</title>

<link rel="stylesheet" href="css/header.css">

</head>

<body>

<header>

<div class="logo">
<a href="index.html">
<img src="imagenes/logo.png" alt="Logo Fundación">
</a>
</div>

<button class="menu-toggle">☰</button>

<nav>
<ul>
<li><a href="inicio.html">Inicio</a></li>
<li><a href="nosotros.html">Nosotros</a></li>
<li><a href="hoja de ruta.html">Hoja de ruta</a></li>
<li><a href="investigacion.html">Investigación</a></li>
<li><a href="documentos.html">Documentos</a></li>
<li><a href="biblioteca.html">Biblioteca</a></li>
</ul>
</nav>

<div class="contacto">
<a href="https://mail.google.com/mail/?view=cm&to=proyectodebioregeneracion@gmail.com">
<img src="imagenes/email.svg" alt="Enviar correo">
</a>
</div>

</header>

<script src="js/load.js"></script>

</body>
</html>